<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= locals.pageTitle %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="/assets/styles/main.css" rel="stylesheet" />
    <% if(locals.customStyles && locals.customStyles.length) { %>
        <% for(var i=0;i<locals.customStyles.length;i++) { %>
            <link href="<%= locals.customStyles[i] %>" rel="stylesheet" />
        <% } %>
    <% } %>
</head>
<body>