    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/assets/scripts/main.js"></script>
    <% if(locals.customScripts && locals.customScripts.length) { %>
        <% for(var i=0;i<locals.customScripts.length;i++){ %>
            <script src="<%= locals.customScripts[i] %>"></script>
        <% } %>
    <% } %>
</body>
</html>